<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <table>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
          </tr>
          <% users.forEach(function(user) { %>
            <tr>
              <th><%= user.username; %></th>
              <th><%= user.password; %></th>
              <th><%= user.role; %></th>
            </tr>
          <% }); %> 
        </table>
      </ul>
    </div>
  </body>
</html>